.chat {
    padding: 0;
    height: 100vh;

    .chat-window {
        height: calc(100vh - 56px);
    }

    .column {
        padding: 1em;
    }

    .chat-window {
        .event {
            padding: 0.5em 0.3em;
            justify-content: center;
            align-content: center;
            align-items: center;
            transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;

            &:hover {
                background-color: #d4d4d5;
                box-shadow: 0 0 1px 1px darken(#d4d4d5, 40%);
                cursor: pointer;
            }

            &:first-child,
            &:last-child {
                padding: 0.5em 0.3em;
            }
        }

        .comments {
            max-width: 100%;
            min-height: 90%;
            overflow-y: scroll;

            .form {
                background-color: transparent;
            }
        }
    }
}
